<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Welcome</title>

	<link href="https://fonts.googleapis.com/css?family=Reem+Kufi|Roboto:300" rel="stylesheet">
	<link href="https://use.fontawesome.com/releases/v5.13.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/color.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/homestyle.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}" />

</head>
<body>
	<main>
		<div class="intro">Hello, {{values.name}}</div>
		<div class="tagline">WeightLossTracker</div>
		<!-- Find your icons from here - https://fontawesome.com/icons?d=gallery&s=brands -->
		<div class="links-social">
            <a target="_blank" href="{{ url_for('login') }}">Login</a>
            <a target="_blank" href="{{ url_for('logout') }}">Logout</a>
            <a target="_blank" href="{{ url_for('register') }}">Register</a>
            <a target="_blank" href="{{ url_for('account') }}">Account</a>
            <a target="_blank" href="{{ url_for('info') }}">Info</a>
            <!-- Add more links as needed -->
        </div>
        
	</main>
</body>
</html>