* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Verdana", sans-serif;
  overflow: hidden;
  background-color: #0277BD; /* Carolina blue background */
}

main > .intro {
	font-family: 'Verdana', sans-serif;
	font-size: 8em;
    font-weight: 1000;
    color: white
}
main > .tagline {
	font-size: 4rem;
  font-family: 'Verdana', sans-serif;
	margin: 7rem 0;
	font-weight: 100;
}

.user-info h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center; /* Center the text */
    color: white; /* Set text color to white */
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex; /* Use flex instead of grid */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 0; /* Remove padding if you want it exactly in the center */
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-content {
  width: 360px; /* Set a fixed width for the login content */
  display: flex;
  flex-direction: column;
  align-items: center; /* This will center the child elements */
  text-align: center;
}

.img img {
  width: 500px;
}

form {
  width: 360px;
}

.login-content img {
  height: 100px;
  /* If the avatar image is too big, adjust the size here */
  width: 150px; /* Adjust the size as needed */
  height: auto; /* Maintain aspect ratio */
}

.login-content h2 {
  margin: 15px 0;
  color: black;
  text-transform: uppercase;
  font-size: 2.9rem;
}

.login-content .input-div {
  position: relative;
  display: grid;
  grid-template-columns: 7% 93%;
  margin: 25px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
  margin-top: 0;
}

.i {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.i i {
  transition: 0.3s;
}

.input-div > div {
  position: relative;
  height: 45px;
}

.input-div > div > h5 {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 18px;
  transition: 0.3s;
}

.input-div:before, .input-div:after {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: 0.4s;
}

.input-div:before {
  right: 50%;
}

.input-div:after {
  left: 50%;
}

.input-div.focus:before, .input-div.focus:after {
  width: 50%;
}

.input-div.focus > div > h5 {
  top: -5px;
  font-size: 15px;
}

.input-div.focus > .i > i {
  color: black;
}

.input-div > div > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  background: none;
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  color: black;
  font-family: "Verdana", sans-serif;
}

.input-div.pass {
  margin-bottom: 4px;
}

a {
  display: block;
  text-align: right;
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  transition: 0.3s;
}

a:hover {
  color: black;
}


.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: black; /* Set button background to black */
    font-size: 1.2rem;
    color: #fff; /* Set text color to white */
    font-family: "Verdana", sans-serif;
    text-transform: uppercase;
    margin: 1rem 0;
    cursor: pointer;
    transition: 0.5s;
}

.metrics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.metric {
  background-color: #0277BD;
  border: 1px solid #ffff;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.metric-title {
  font-weight: bold;
  display: block;
  color: #ffff;
  margin-bottom: 5px;
}

.metric-value {
  color: #ffff;
  font-size: 1.2em;
}

.btn:hover {
    opacity: 0.9; /* Optional: Slight opacity change on hover */
}
@media screen and (max-width: 1050px) {
  .container {
      grid-gap: 5rem;
  }
}

@media screen and (max-width: 1000px) {
  form {
      width: 290px;
  }

  .login-content h2 {
      font-size: 2.4rem;
      margin: 8px 0;
  }

  .img img {
      width: 400px;
  }
}

@media screen and (max-width: 900px) {
  .container {
      grid-template-columns: 1fr;
  }

  .img {
      display: none;
  }

  .wave {
      display: none;
  }

  .login-content {
      justify-content: center;
  }
}
